<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Регистрация нового специалиста</title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.23.2/dist/editor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@1.7.0/dist/bundle.js"></script>
    <script type="text/javascript" th:src="@{/js/newDoctor.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header th:insert="blocks/header :: header"></header>
        <div class="container mt-5">
            <div class="card mb-4">
                <div class="card-header">Добавление нового специалиста</div>
                <div class="card-body">
                    <form th:method="POST" th:action="@{/doctors/new}" th:object="${doctor}"
                          enctype="multipart/form-data" onsubmit='$("#regSubmit").prop("disabled",true); return true;'>
                        <!--Ошибка существующего email-a-->
                        <div class="alert alert-danger" role="alert" th:if="${emailMessage != null}"
                             th:text="${emailMessage}"></div>
                        <!--Ряд ФИО-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputName">Имя</label>
                                <input class="form-control" id="inputName" type="text" th:field="*{name}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"></div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputSurname">Фамилия</label>
                                <input class="form-control" id="inputSurname" type="text" th:field="*{surname}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}"
                                     th:errors="*{surname}"></div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPatronymic">Отчество</label>
                                <input class="form-control" id="inputPatronymic" type="text" th:field="*{patronymic}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('patronymic')}"
                                     th:errors="*{patronymic}"></div>
                            </div>
                        </div>
                        <!--Ряд почты-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" type="text" th:field="*{email}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"></div>
                            </div>
                        </div>
                        <!--Ряд кабинета-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCabinet">Кабинет</label>
                                <input class="form-control" id="inputCabinet" type="text" th:field="*{cabinet}">
                            </div>
                        </div>
                        <!--Ряд стажа-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputExperience">Стаж</label>
                                <input class="form-control" id="inputExperience" type="number" th:field="*{experience}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('experience')}"
                                     th:errors="*{experience}"></div>
                            </div>
                        </div>
                        <!--Ряд специализации-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputSpeciality">Специальность</label>
                                <select class="form-control" id="inputSpeciality" th:field="*{specialities}" multiple>
                                    <option th:each="speciality : ${T(com.example.courseproject.models.Speciality).values()}"
                                            th:value="${{speciality}}" th:text="${speciality.label}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!--Ряд категории-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCategory">Категория специалиста</label>
                                <input class="form-control" id="inputCategory" type="text" th:field="*{category}">
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('category')}"
                                     th:errors="*{category}"></div>
                            </div>
                        </div>
                        <!--Ряд О враче-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-7" style="width: 62% !important;">
                                <label class="small mb-1" for="inputAboutDoctor">О враче</label>
                                <div id="inputAboutDoctor"></div>
                                <input id="inputAboutDoctorResult" type="text" th:field="*{aboutDoctor}" hidden/>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('aboutDoctor')}"
                                     th:errors="*{aboutDoctor}"></div>
                            </div>
                        </div>
                        <!--Ряд образования-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-7" style="width: 62% !important;">
                                <label class="small mb-1" for="inputEducation">Образование</label>
                                <div id="inputEducation"></div>
                                <input id="inputEducationResult" type="text" th:field="*{education}" hidden/>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('education')}"
                                     th:errors="*{education}"></div>
                            </div>
                        </div>
                        <!--Ряд опыта работы-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-7" style="width: 62% !important;">
                                <label class="small mb-1" for="inputWorkPlaces">Опыт работы</label>
                                <div id="inputWorkPlaces"></div>
                                <input id="inputWorkPlacesResult" type="text" th:field="*{workPlaces}" hidden/>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('workPlaces')}"
                                     th:errors="*{workPlaces}"></div>
                            </div>
                        </div>
                        <input class="btn btn-primary" id="regSubmit" type="submit" value="Зарегистрировать"><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>