<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Профиль</title>
    <div th:insert="blocks/webjars :: webjars"></div>
    <link rel="stylesheet" th:href="@{/css/profileStyle.css}">
    <script type="text/javascript" th:src="@{/js/phoneForm.js}"></script>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#inputBirthday").datepicker({
            dateFormat: 'yy-mm-dd',
            defaultDate: $("#inputBirthday").val()
        });
    });
    /*]]>*/
</script>
<body>
<div class="wrapper">
    <div class="content">
        <header th:insert="blocks/header :: header"></header>
        <div class="container-fluid" style="padding-left: 85px">
            <div class="row">
                <!--Профиль-->
                <div class="leftC col-md-5">
                    <h3 class="top mt-4">Профиль</h3>
                    <!--Фото профиля-->
                    <div class="photoFrame">
                        <img class="mainPhotoInput"
                             th:if="${patient.getImage() != null && !patient.getImage().isEmpty()}"
                             th:src="@{/applicationFiles/patients/{id}/{image}(id=${patient.getId()}, image=${patient.getImage()})}">
                        <div th:if="${patient.getImage() == null || patient.getImage().isEmpty()}">
                            <img class="mainPhotoInput" th:if="${patient.getSex() == 1}"
                                 th:src="@{/applicationFiles/usersFiles/manProfile.jpg}">
                            <img class="mainPhotoInput" th:if="${patient.getSex() == 2}"
                                 th:src="@{/applicationFiles/usersFiles/womenProfile.png}">
                        </div>
                    </div>
                    <!--Данные пользователя-->
                    <div class="container headlines">
                        <!--Ряд имени и фамилии-->
                        <div class="row d-flex justify-content-center mt-1">
                            <input class="attrBlock col-5" id="inputName" type="text" th:value="${patient.getName()}"
                                   disabled>
                            <div class="col-1"></div>
                            <input class="attrBlock col-5" id="inputSurname" type="text"
                                   th:value="${patient.getSurname()}" disabled>
                        </div>
                        <!--Ряд пола и даты рождения-->
                        <div class="row d-flex justify-content-center mt-4">
                            <select class="col-5 attrBlock" id="sexInput" disabled>
                                <option disabled>Не выбрано</option>
                                <option th:selected="${patient.getSex()==1}">Мужчина</option>
                                <option th:selected="${patient.getSex()==2}">Женщина</option>
                            </select>
                            <div class="col-1"></div>
                            <input class="col-5 attrBlock" id="inputBirthday"
                                   th:value="${T(org.apache.commons.lang3.time.DateFormatUtils).format(patient.getBirthDate(), 'dd-MM-yyyy')}"
                                   disabled>
                        </div>
                        <!--Ряд телефона и email-а-->
                        <div class="row d-flex justify-content-center mt-4">
                            <input class="col-5 attrBlock" data-tel-input type="tel" id="inputPhone"
                                   th:value="${patient.getTelephone()}" disabled>
                            <div class="col-1"></div>
                            <input class="col-5 attrBlock" id="inputEmail" type="email" th:value="${patient.getEmail()}"
                                   disabled>
                        </div>
                    </div>
                    <!--Кнопка-->
                    <div class="">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-primary button mt-5 mb-3 px-4" role="button"
                               th:href="@{/patients/{id}/edit(id=${patient.getId()})}">Редактировать</a>
                        </div>
                    </div>
                </div>
                <!--Разделитель-->
                <div class="col-1">
                    <div class="greenLine"></div>
                </div>
                <!--Приёмы-->
                <div class="rightC col">
                    <h3 class="mt-4 top">Мои Приёмы</h3>
                    <div class="overflow-auto" style=" max-height: 550px; overflow: auto">
                        <!--Нет приемов -->
                        <div class="doctorBody mt-4" style="width: 520px"
                             th:if="${patient.getAppointments().size() == 0}"><!--Центрируем данные-->
                            <!--Плажка зеленая-->
                            <div class="greenDoctorHeader d-flex align-items-center justify-content-center"></div>
                            <div class="container-fluid d-flex align-items-center justify-content-center mt-3"
                                 style=" margin-left: auto;">
                                <div>
                                    <h4 class="themes">У вас еще нет приемов</h4>
                                    <h5 class="headlines"> Запишитесь к нашим специалистам</h5>
                                    <i class="las la-heartbeat la-4x" style="color:#243528 "></i>
                                </div>
                            </div>
                        </div>
                        <!--Список карточек-->
                        <ul th:if="${patient.getAppointments().size() != 0}">
                            <li th:each="appointment : ${patient.getAppointments()}">
                                <!--Карточка-->
                                <div class="doctorBody mt-4">
                                    <!--Плажка зеленая-->
                                    <div class=" green d-flex align-items-center justify-content-center"></div>
                                    <div class="container-fluid">
                                        <!--Доктор-->
                                        <div class="row mt-2">
                                            <!--Фото-->
                                            <div class="col-2">
                                                <img class="doctorPhoto float-start" alt=""
                                                     th:src="@{/applicationFiles/doctors/{id}/{image}(id=${appointment.getDoctor().getId()}, image=${appointment.getDoctor().getImage()})}">
                                            </div>
                                            <!--Личные данные-->
                                            <div class="col text-start">
                                                <!--ФИО-->
                                                <h4 class="themes mt-1"
                                                    th:text="${appointment.getDoctor().getSurname() + ' ' + appointment.getDoctor().getName() + ' ' + appointment.getDoctor().getPatronymic()}"></h4>
                                                <!--Описание специалиста-->
                                                <h5 class="headlines"
                                                    th:text="${#strings.setJoin(appointment.getDoctor().getSpecialities(), ', ') + ', ' + appointment.getDoctor().getCategory() + ', Стаж ' + appointment.getDoctor().getExperienceWithPrefix()}"></h5>
                                            </div>
                                        </div>
                                        <!--Данные приема и кнопка-->
                                        <div class="row">
                                            <!--Дата, время, кабинет-->
                                            <div class="col-8 row gx-1 headlines">
                                                <div class="col text-start mx-2">
                                                    <h5>Дата:</h5> <span class="spanStyle"
                                                                         th:text="${appointment.getDate() + ' ' + #dates.dayOfWeekName(appointment.getDate())}"></span>
                                                </div>
                                                <div class="col-1"></div>
                                                <div class="col text-start">
                                                    <h5>Время:</h5><span class="p-1 spanStyle"
                                                                         th:text="${appointment.getTime()}"></span>
                                                </div>
                                                <div class="col text-start">
                                                    <h5>Кабинет:</h5><span class="p-1 spanStyle"
                                                                           th:text="${appointment.getDoctor().getCabinet() + ' каб'}"></span>
                                                </div>
                                            </div>
                                            <!--Подробнее кнопка-->
                                            <div class="col ">
                                                <button class="btn btn-primary button float-end mt-2 mb-3 px-4">
                                                    Подробнее
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>