/*Заливка для timePicker*/
.timePicker{
  background: white;
  margin: 1em  -2em;
  padding: 0em 2em;
  height: 100%;
  overflow: auto;
}


/*Блоки в timeTable*/
.timeBlocks{
  width: 120px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  background: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0.8em 0 1rem 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Блоки и их Анимации*/
.firstBlock{
  display:flex;
  justify-content: center;
  text-align: center;
  transition: all.7s;
}

.firstBlockAfter{
  transition: all.7s;
  margin-left: -38em;
}

.attrTransition{
  transition: all.9s;
}

/*Нужен для анимации текста*/
.attrTransitionAfter{
  margin-left: -8.3em;
  transition: all.9s;
}

.secondBlock{
  top: 19em;
  opacity: 0;
  position: absolute;
  margin-left: 58.5%;
  transition: all.7s;
  transition-delay: 0.5s;
}

.secondBlockAfter{
  opacity: 1;
  transition: all.7s;
  transition-delay: 0.5s;
}

.thirdBlock{
  opacity: 0;
  transition: all.7s;
  transition-delay: 0.5s;
}

.thirdBlockAfter{
  opacity: 1;
  transition: all.7s;
  transition-delay: 0.5s;
}

.wordsTransition {
  transition: all.9s;
}

.wordsTransitionAfter {
  margin-left: -18.3em;
  transition: all.9s;
}

div.headVerticalLine {
  margin: 0 auto;
  width: 510px;
  height: 0;
  border: 1px solid #000000 !important;
}

.triangleBlock{
  position: absolute;
  width: 752px;
  height: 100%;
  top:0;
  right: 0px;
  z-index: -3;
  visibility: visible;
  transition: all.7s;
  overflow: hidden;
}
.greenTriangles{
  position: absolute;
  right: -1000px;
  top: 239px;
  z-index: -1;
  visibility: hidden;
  transition: all.7s;
}
.greenTrianglesAfter{
  right: 0px;
  visibility: visible;
  transition: all.7s;
}
.greenTriangles2{
  top: 337.5px;
  transition: 1.2s;
}