<div th:fragment="webjars">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/datetimepicker/2.5.1/jquery.datetimepicker.css}">
  <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.structure.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.theme.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/datetimepicker/2.5.1/jquery.datetimepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/datepickerRussian.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
</div>